.grande{
	display: inherit;
}

.piepag{
	background-color: #333333;
	height: 180px;
	margin: 0;
	padding: 0;
	width: 100%;
}

.tinfo{
	color: white;
	font-size: 10px;
	text-transform: uppercase;
	font-weight: bolder;
	font-family: Montserrat, sans-serif;
	border-bottom: 3px solid #29aae1;
	padding-bottom: 3px;
}

.info{
	color: white;
	font-size: 8px;
	font-family: 'Montserrat', sans-serif;
	margin-top: 14px;
}

.texto{
	float: left;
	margin-right: 50px;
}

span{
	font-family: Montserrat, sans-serif;
}

.piepag i{
	color: #333333;
	border-radius: 50%;
	padding: 10px;
	min-width: 15px;
	background-color: white;
	text-align: center;
	margin: 7px;
	right: 30px;
}

.social{
	position: relative;
	overflow: hidden;
	float: right;
	margin-right: 100px;
	margin-top: 60px;
}

#calend{
position: relative;

left: 115px;

top: 4px;
}

.conjunto{
	margin-left: 80px;
	margin-top: 50px;
	float: left;
}

#logoAc{
	float: left;
	margin-left: 100px;
	margin-top: 50px;
}

.arriba{
	float: left;
	width: 100%;
	height: 200px;
}

.unoArriba{
	background-color: #FECE3C;
	width: 257px;
	height: 200px;
	overflow: hidden;
	position: absolute;
	left: 127px;
	color: #723F89;
}

.dosArriba{
	background-color: #723F89;
	width: 189px;
	height: 195px;
	float: inherit;
	position: relative;
	left: 257px;
	overflow: hidden;
	top: 65px;
	color: white;
}

.tresArriba{ 
	height: 195px;
	background-color: #8DE1E1;
	width: 188px;
	left: 257px;
	position: relative;
	overflow: hidden;
	top: 36px;
	color: #723F89;
}

.cuatroArriba{
	height: 225px;
	background-color:#FF9386;
	width: 189px;
	position: relative;
	top: -209px;
	left: 749px;
	overflow: hidden;
	color: white;
}

.cincoArriba{
	background-color: #006E6F;
	width: 171px;
	height: 164px;
	position: relative;
	top: -355px;
	left: 938px;
	overflow: hidden;
	color: white;
}

.medio{
	height: 207px;
	width: 100%;
	position: relative;
	top: 30px;
	float: left;
}

.unoMedio{
	background-color: #8DE1E1;
	height: 206px;
	width: 189px;
	overflow: hidden;
	position: absolute;
	top: -33px;
	left: 183px;
	color: #723F89;
}

.dosMedio{
	background-color:#FF9386;
	height: 213px;
	width: 189px;
	left: 372px;
	overflow: hidden;
	position: absolute;
	top: 26px;
	color: white;
}

.tresMedio{
	background-color:#006E6F;
	height: 217px;
	width: 189px;
	position: absolute;
	overflow: hidden;
	left: 560px;
	color: white;
}

.cuatroMedio{
	background-color:#723F89;
	width: 188px;
	height: 240px;
	position: absolute;
	left: 749px;
	overflow: hidden;
	top: -22px;
	color: white;
}

.cincoMedio{
	background-color:#FECE3C;
	width: 240px;
	height: 222px;
	position: absolute;
	overflow: hidden;
	left: 938px;
	top: -5px;
	color: #723F89;
}


.abajo{
	height: 210px;
	width: 100%;
	float: left;
	position: relative;
	top: -6px;
}

.unoAbajo{
	height: 210px;
	width: 222px;
	background-color:#723F89;
	position: absolute;
	overflow: hidden;
	left: 147px;
	color: white;
}

.dosAbajo{
	height: 189px;
	width: 189px;
	background-color:#006E6F;
	left: 372px;
	position: absolute;
	top: 64px;
	color: white;
	overflow: hidden;
}

.tresAbajo{
	height: 156px;	
	width: 284px;
	background-color:#FECE3C;
	position: absolute;
	left: 561px;
	top: 42px;
	color: #723F89;
	overflow: hidden;
}

.cuatroAbajo{
	height: 191px;
	width: 295px;
	background-color:#8DE1E1;
	position: absolute;
	left: 844px;
	top: 42px;
	color: #723F89;
	overflow: hidden;
}

.bloques{
	margin: 0px auto;
	border: 2px solid pink; 
	height: 800px;
	width: 100%;
	background-image: url("fondo.png");
}

#t0{
float: left;

width: 9%;

top: 153px;

position: relative;

overflow: hidden;
}

#t1{
top: 109px;
position: relative;
right: 4px;
}

#t2{
top: 87px;
position: relative;
}

#t3{
position: relative;
top: 73px;
}

#t4{
position: relative;
top: 123px;
}

#t5{
position: relative;
top: 76px;
}

#t6{
position: absolute;

overflow: hidden;

float: right;

top: 230px;

right: 58px;

}

#t7{
top: 117px;

position: relative;
}

#t8{
position: relative;

top: 126px;
}

#t9{
position: relative;

top: 153px
}

#t10{
position: relative;

top: 111px;
}

#t11{
position: relative;

top: 115px;
}

#t12{
position: absolute;

overflow: hidden;

left: 31px;

float: left;

top: 83px;
}

#t13{
position: relative;

top: 86px;
}

#t14{
position: relative;

top: 77px;
}

#t15{
position: relative;

top: 60px;
}

#t16{
position: relative;
top: 116px;
}
#t17{
position: absolute;

top: 204px;

left: 1128px;
}

.taller{
	position: absolute;
	margin: 20px;
}

.fechas{
	top: 50%;
	position: absolute;
	left: 50%;
	font-size: 10pt;
}
